.list {
  margin: 0;
  padding: 0;
}
.list div{
  display: flex;
  justify-content: space-between;
}
.list li {
  cursor: pointer;
  list-style: none;
  width: 98%;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list li:nth-child(odd) {
  background: #dfdfdf;
}
.list li:hover {
  background: #c9c8c8;
}
.list span {
  cursor: pointer;
  background-color: #dfdfdf;
  padding: 12px 16px 12px 16px;
}
.list span:hover {
  background-color: #f44336;
  color: #fff;
}
.header {
  background-color: #017374;
  padding: 30px 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 2%;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header input {
  margin: 0 5px;
  border: none;
  width: 73%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.header span {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.header span:hover {
  background-color: #bbb;
}
